
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aec6df;
    text-align: center;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cantante {
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cantante img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

h1 {
    margin: 0;
}

h2 {
    color: #343a40;
    font-size: 22px;
}

p {
    font-size: 16px;
    color: #555;
}

